@import url("nav.css");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #32620e;
  --secondary-color: #e0f19c;
  --white-color: #f7f0f7;
  --black-color: #342e34;
  --grey-light-color: #cbc8cb;
  --grey-back-color: #757475;
  --success-color: #187a8f;
  --error-color: #8b1e2b;
  --title-font: "Agile Jewelry Personal Use", sans-serif;
  --primary-font: "Heldane Text", sans-serif;
}

body {
  background-color: var(--white-color);
}

li {
  list-style: none;
}

a {
  color: transparent;
  text-decoration: none;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--primary-color);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 50px 0px;
  gap: 100px;
  min-height: calc(99.9vh - 280px);
}

img {
  border-radius: 10px;
}

.basic-section {
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 10px;
  /* gap: 50px; */
}

.content-section {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.content-section > img {
  max-width: 100%;
  max-height: 500px;
}

.text {
  padding: 10px;
  font-family: var(--primary-font);
  color: var(--black-color);
  font-size: 1.1rem;
}

.primary-btn {
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--title-font);
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  font-size: 1.2rem;
}

.produits-accueil {
  width: 100%;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #32620e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  margin-top: 10px;
}

.card {
  width: 200px;
  height: 250px;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}
.card > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.info-produit-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 210px;
  background: var(--white-color);
  border-radius: 0px 0px 20px 20px;
  color: var(--black-color);
  font-family: var(--primary-font);
}

.info-produit-card > p {
  font-size: 0.9rem;
}

/* form section */
.form-section {
  width: 40%;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  /* gap: 1rem; */
}

button {
  width: fit-content;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
  align-self: center;
}
.self-center {
  align-self: center;
}

input {
  border: 1px solid var(--grey-back-color);
  border-radius: 5px;
  background-color: var(--white-color);
  height: 30px;
  padding-left: 5px;
  font-family: var(--primary-font);
  color: var(--black-color);
  font-size: 1.1rem;
}
/* A propos */

/* .img-apropos {
  max-height: 600px;
  max-width: 300px;
} */

.adresse-container {
  width: 30%;
}

/* boutique */

.aside-boutique {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-radius: 0 10px 10px 0;
  position: fixed;
  left: 0;
  top: 25%;
  padding: 25px;
}

aside > div {
  margin: 10px 0px;
}

h2 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: normal;
}

.filtre-container {
  padding-left: 30px;
}

.filtre-boutique {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: normal;
}

.filtre-boutique:hover {
  text-decoration: underline;
}

.li-puce {
  color: var(--primary-color);
  list-style-type: disc;
}

.section-boutique {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 50px;
  margin-left: 17%;
}

.logo-panier {
  cursor: pointer;
}

.google-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 90%;
  margin-top: 25px;
}

.message {
  color: var(--error-color);
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

.bold {
  font-weight: bold;
}

/* espace client */

.client-section {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infos-client {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-commandes {
  width: 80%;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
}

.section-commandes > * {
  width: 100%;
}

.produit-li {
  list-style-type: disc;
  padding: 5px;
}

.boutons-espace-client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* Panier */

.section-panier {
  flex-direction: column;
  gap: 50px;
  border: none;
}

.article-panier {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 15px;
}

.article-panier > img {
  height: 270px;
}

.description-container {
  width: 50%;
}

.description {
  padding: 10px;
}

.div-prix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.div-prix > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-prix > div > label {
  padding-bottom: 5px;
}

.div-prix > div > input {
  width: 100px;
}

.div-prix > .primary-btn {
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

/* mediaqueries */

@media (max-width: 1500px) {
  .section-boutique {
    margin-left: 20%;
  }
}

@media (max-width: 1260px) {
  .section-boutique {
    margin-left: 28%;
  }
}

@media (max-width: 1100px) {
  .form-section {
    width: 60%;
  }
  .basic-section {
    max-width: 60%;
    flex-direction: column;
    padding: 10px 25px;
  }

  .content-section {
    max-width: 100%;
  }

  .card:last-child {
    display: none;
  }

  .section-panier {
    max-width: 80%;
  }

  .article-panier {
    flex-wrap: wrap;
  }

  .div-prix {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .description-container {
    margin-top: 10px;
  }

  .div-prix > div {
    flex-direction: row;
  }

  .div-prix > div > label {
    padding-bottom: 10px;
  }

  .div-prix > .primary-btn {
    margin-top: 0;
  }

  .adresse-container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .section-boutique {
    margin-left: 35%;
  }
}

@media (max-width: 900px) {
  .card:nth-child(4) {
    display: none;
  }
  .form-section {
    width: 70%;
  }
}

@media (max-width: 760px) {
  .section-boutique {
    margin-left: 48%;
    gap: 20px;
  }
  .article-panier {
    flex-direction: column;
  }
  .description-container {
    width: auto;
  }
  .div-prix {
    flex-direction: column;
  }
  .div-prix > .primary-btn {
    margin-top: 15px;
  }
}

@media (max-width: 700px) {
  main {
    gap: 20px;
    padding: 20px 0px;
    min-height: calc(99.9vh - 152px);
  }
  .basic-section {
    max-width: none;
    width: 80%;
    margin: 0 auto;
  }
  .card:nth-child(3) {
    display: none;
  }
  .primary-btn {
    font-size: 1rem;
  }
  .form-section {
    width: 80%;
  }
  .aside-boutique {
    /* top: 70px; */
    padding: 10px;
  }
}

@media (max-width: 500px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
  }
  .filtre-boutique {
    font-size: 0.85rem;
  }
  .card:nth-child(2) {
    display: none;
  }
  .form-section {
    width: 90%;
  }
  .aside-boutique {
    /* top: 70px; */
    padding: 5px;
  }
}

@media (max-width: 450px) {
  /* div,
  img,
  a,
  span {
    scale: 0.9;
  } */
  .aside-boutique {
    padding: 5px;
  }
  .section-boutique {
    margin-left: 50%;
  }
  .card {
    height: 200px;
    width: 150px;
    /* scale: 0.8; */
  }
  .info-produit-card {
    width: 150px;
    top: 160px;
  }
  .boutons-espace-client {
    flex-direction: column;
    gap: 10px;
  }
}

/* JS Class */

.border-error {
  border-color: var(--error-color);
}
.border-validate {
  border-color: var(--success-color);
}
