/* NAV HEADER */

#header-nav {
  border-bottom: var(--primary-color) solid 1px;
}

#header-nav > * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
}

.header-link {
  color: var(--primary-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
}

/* NAV FOOTER */

#footer-nav {
  border-top: var(--primary-color) solid 1px;
}

#footer-nav > * {
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}

#footer-nav > ul:last-child {
  color: var(--black-color);
  font-family: var(--primary-font);
}

.footer-link {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--primary-color);
  font-family: var(--title-font);
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 25px;
  height: 25px;
}

.footer-link-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .footer-link-container {
    width: auto;
    height: 100%;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  #header-nav {
    display: block;
    background-color: var(--secondary-color);
  }
  #header-nav > * {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.6rem;
  }
  .header-link {
    font-size: 0.9rem;
  }
  .header-logo {
    height: 50px;
  }
  #footer-nav > * {
    height: 100px;
    padding: 10px;
  }
  .footer-logo-lafleur {
    /* width: 50px; */
    height: 85px;
  }
}

@media (max-width: 400px) {
  .header-link {
    font-size: 0.75rem;
  }
  .footer-contact {
    font-size: 0.8rem;
  }
  .footer-link-container {
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-link {
    font-size: 0.8rem;
    padding: 5px;
  }
}
